:root{
    --barra--:#54C6E3;
    --barraFundo--: #ccc;
    --azul--: #54C6E3;
    --fundo--: #d9e9ed;
    --fundotexto--: #f1f1f1;
    --sombra--: #919191;
}

aside{
    background-color: var(--fundotexto--);
    margin: 20px;
    flex: 30%;
    box-shadow: 0 0px 15px  var(--sombra--);
    height:fit-content;
}

aside > .foto{
    height: 300px;
    background-image: url(../imagens/minhafoto.jfif);
    background-size: cover;
    display: flex;
    align-items: end;
}

aside > .foto > h1{
    font-size: 36px;
    margin: 5px;
}

aside > .info{
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 30px 30px 30px;
    align-items: center;
    padding:10px;
}

.skills{
    padding:10px;

}

.skills > .skillstitle{
    align-items: center;
    display: flex;
    font-size: 24px;
    margin-top: 10px;
}

.skills > .skillstitle > h1{
    margin-left: 10px;

}

.skills > .skillsGrafic{
    width: 100%;
    background-color: var(--barraFundo--);
    border-radius: 10px;
}

.skills > .skillsText{
    margin: 10px;
}

.skills > .skillsGrafic > .fillhtml{
    width: 70%;
    background-color: var(--barra--);
    border-radius: 10px;
    text-align: center;    
}

.skills > .skillsGrafic > .fillcss{
    width: 60%;
    background-color: var(--barra--);
    border-radius: 10px;
    text-align: center;    
}

.skills > .skillsGrafic > .filljavascript{
    width: 10%;
    background-color: var(--barra--);
    border-radius: 10px;
    text-align: center;    
}

/*languages*/

.language{
    padding:10px;

}


.language > .languagetitle{
    align-items: center;
    display: flex;
    font-size: 24px;
    margin-top: 10px;
}

.language > .languagetitle > h1{
    margin: 0 0 0 10px;

}

.language > .languageText{
    margin: 10px;
}

.language > .languageGrafic{
    height: 18px;
    width: 100%;
    background-color: var(--barraFundo--);
    border-radius: 10px;
}

.language > .languageGrafic > .fillportuguese{
    height: 18px;
    width: 90%;
    background-color: var(--barra--);
    border-radius: 10px;
    text-align: center;    
}

.language > .languageGrafic > .fillenglish{
    height: 18px;
    width: 40%;
    background-color: var(--barra--);
    border-radius: 10px;
    text-align: center;    
}

.language > .languageGrafic > .fillitalian{
    height: 18px;
    width: 10%;
    background-color: var(--barra--);
    border-radius: 10px;
    text-align: center;    
}

