footer{
    background-color: var(--barra--);
    text-align: center;
    color: aliceblue;
    box-shadow: 0 0px 15px  var(--sombra--);
}

footer > .footericons{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .footericons > .footericon{
    padding: 5px;
}

footer > .footertext{
    padding: 10px;
}